<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Book Recommender System</title>
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"                    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <style>
        .text-white{
            color:white
        }
    </style>
    <body style="background-color:black">
        <p>Hello<p>
        <nav class="navbar" style="background-color:#00a65a">
            <a class="navbar-brand">My Book Recommender</a>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/recommend">Recommend</a></li>
                <li><a href="/conatct2">Contact</a></li>
            </ul>
        </nav>






            </div>
    </body>
</html>